pipeline/s3_to_adl_file_child.json
{
	"name": "s3_to_adl_file_child",
	"properties": {
		"activities": [
			{
				"name": "get_the_list_of_file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "S3FolderDataset",
						"type": "DatasetReference",
						"parameters": {
							"s3bucket": "@pipeline().parameters.s3_bucket",
							"s3directory": "@pipeline().parameters.s3_path"
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"modifiedDatetimeStart": {
							"value": "@formatDateTime(addDays(utcnow(), -730), 'yyyy-MM-dd')",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_the_list_of_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_the_list_of_file').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "s3_to_adls_file_transfer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "s3_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"bucket": "@pipeline().parameters.s3_bucket",
										"path": "@pipeline().parameters.s3_path",
										"file": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_sink_binary",
									"type": "DatasetReference",
									"parameters": {
										"adls_container": "@pipeline().parameters.adls_container",
										"adls_path": "@{if(equals(pipeline().globalParameters.environment, 'prod'),'prd', pipeline().globalParameters.environment)}/@{pipeline().parameters.adls_path}/"
									}
								}
							]
						},
						{
							"name": "log_on_success",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "s3_to_adls_file_transfer",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "adfadbplt001lssnfkpltdnaload",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "alter session set  timezone ='UTC';\nINSERT INTO META_RAW.S3_TO_ADLS_hist_file_logs\n(ID, GROUP_ID, S3_BUCKET, S3_PATH, ADLS_CONTAINER,ADLS_PATH,file_name, RUN_AT, STATUS)\nVALUES\n(@{item().id},\n@{pipeline().parameters.Group_id},\n'@pipeline().parameters.s3_bucket',\n'@pipeline().parameters.s3_path',\n'@pipeline().parameters.adls_container',\n'@{if(equals(pipeline().globalParameters.environment, 'prod'),'prd', pipeline().globalParameters.environment)}/@{pipeline().parameters.adls_path}/',\n'@item().name',\nCURRENT_TIMESTAMP(),\n'SUCCESS'\n)"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "log_on_success_copy1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "s3_to_adls_file_transfer",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "adfadbplt001lssnfkpltdnaload",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "alter session set  timezone ='UTC';\nINSERT INTO META_RAW.S3_TO_ADLS_hist_file_logs\n(ID, GROUP_ID, S3_BUCKET, S3_PATH, ADLS_CONTAINER,ADLS_PATH,file_name, RUN_AT, STATUS)\nVALUES\n(@{item().id},\n@{pipeline().parameters.Group_id},\n'@pipeline().parameters.s3_bucket',\n'@pipeline().parameters.s3_path',\n'@pipeline().parameters.adls_container',\n'@{if(equals(pipeline().globalParameters.environment, 'prod'),'prd', pipeline().globalParameters.environment)}/@{pipeline().parameters.adls_path}/',\n'@item().name',\nCURRENT_TIMESTAMP(),\n'SUCCESS'\n)"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"s3_bucket": {
				"type": "string"
			},
			"s3_path": {
				"type": "string"
			},
			"adls_container": {
				"type": "string"
			},
			"adls_path": {
				"type": "string"
			},
			"Group_id": {
				"type": "int"
			},
			"id": {
				"type": "int"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines/s3_to_adls_hist_file_pipeline"
		},
		"annotations": []
	}
}