pipeline/s3_to_adl_file_child.json
{
	"name": "s3_to_adl_file_child",
	"properties": {
		"activities": [
			{
				"name": "get_the_list_of_file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "S3FolderDataset",
						"type": "DatasetReference",
						"parameters": {
							"s3bucket": "@pipeline().parameters.s3_bucket",
							"s3directory": "@pipeline().parameters.s3_path"
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"modifiedDatetimeStart": {
							"value": "@formatDateTime(addDays(utcnow(), -730), 'yyyy-MM-dd')",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_the_list_of_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_the_list_of_file').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "s3_to_adls_file_transfer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "s3_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"bucket": "@pipeline().parameters.s3_bucket",
										"path": "@pipeline().parameters.s3_path",
										"file": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_sink_binary",
									"type": "DatasetReference",
									"parameters": {
										"adls_container": "@pipeline().parameters.adls_container",
										"adls_path": "@{if(equals(pipeline().globalParameters.environment, 'prod'),'prd', pipeline().globalParameters.environment)}/@{pipeline().parameters.adls_path}/"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"s3_bucket": {
				"type": "string",
				"defaultValue": "itx-arm-conapdna-aspac-prod"
			},
			"s3_path": {
				"type": "string",
				"defaultValue": "raw-data-lake/travel_retail/transaction_files/archive/"
			},
			"adls_container": {
				"type": "string",
				"defaultValue": "asp"
			},
			"adls_path": {
				"type": "string",
				"defaultValue": "akash_s3_to_adls_test"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines/s3_to_adls_hist_file_pipeline"
		},
		"annotations": []
	}
}