pipeline/s3_to_adls_file_parent.json
{
	"name": "s3_to_adls_file_parent",
	"properties": {
		"activities": [
			{
				"name": "get_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@concat('select * from META_RAW.s3_to_adls_hist_file where group_id=',pipeline().parameters.Group_id)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "mtd_process",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_metadata').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "s3_to_adl_file_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"s3_bucket": {
										"value": "@item().S3_BUCKET",
										"type": "Expression"
									},
									"s3_path": {
										"value": "@item().S3_PATH",
										"type": "Expression"
									},
									"adls_container": {
										"value": "@item().ADLS_CONTAINER",
										"type": "Expression"
									},
									"adls_path": {
										"value": "@item().ADLS_PATH",
										"type": "Expression"
									},
									"Group_id": {
										"value": "@item().GROUP_ID",
										"type": "Expression"
									},
									"id": {
										"value": "@item().ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Group_id": {
				"type": "string",
				"defaultValue": "21"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines/s3_to_adls_hist_file_pipeline"
		},
		"annotations": []
	}
}